<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/freelancehunt.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}</section>
                <nav class="site-footer-nav">
                    <a href="{{@site.url}}/riedpolitika/">📙 Редполитика</a>
                    <a href="{{@site.url}}">Последние публикации</a>
                    <a href="https://forms.gle/2ucax58cZs3M576EA">✍️ Прислать статью</a>
                    {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
                    {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
                </nav>
            </div>
        </footer>

    </div>

    {{!-- Search overlay start --}}
    <div id="search-overlay">
        <div class="search-bar-container">
            <section class="search-bar-wrapper outer">
                <div class="inner">
                    <div class="gcse-searchbox"></div>
                    <i id="search-hide-btn"><svg viewBox="0 0 512 358.06" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-.00024998 -76.97)"><path d="m384.83 180.7h-348.73l73.326-82.187c4.755-5.33 4.289-13.505-1.041-18.26-5.328-4.754-13.505-4.29-18.26 1.041l-82.582 92.56c-10.059 11.278-10.058 28.282 1e-3 39.557l82.582 92.561c2.556 2.865 6.097 4.323 9.654 4.323 3.064 0 6.139-1.083 8.606-3.282 5.33-4.755 5.795-12.93 1.041-18.26l-73.326-82.188h348.73c55.858 0 101.3 45.444 101.3 101.3s-45.443 101.3-101.3 101.3h-61.58c-7.143 0-12.933 5.791-12.933 12.933s5.79 12.933 12.933 12.933h61.58c70.12 0 127.17-57.046 127.17-127.17-1e-3 -70.119-57.047-127.16-127.17-127.16z"/></g></svg></i>
                </div>
            </section>
        </div>
        <div id="search-results-container outer">
            <div class="inner">
                <div class="gcse-searchresults"></div>
            </div>
        </div>
    </div>
    {{!-- Search overlay end --}}

    {{!-- The big email subscribe modal content --}}
    {{!--

        {{#if @labs.members}}
            <div class="subscribe-success-message">
                <a class="subscribe-close" href="javascript:;"></a>
                Вы успешно подписались на {{@site.title}}!
            </div>

            <div id="subscribe" class="subscribe-overlay">
                <a class="subscribe-close" href="#"></a>
                <div class="subscribe-overlay-content">
                    {{#if @site.logo}}
                        <img class="subscribe-overlay-logo" src="{{@site.logo}}" alt="{{@site.title}}" />
                    {{/if}}
                    <div class="subscribe-form">
                        <h1 class="subscribe-overlay-title">Подпишитесь на {{@site.title}}</h1>
                        <p class="subscribe-overlay-description">Будьте в курсе важных событий в мире фриланса — лучшие публикации у вас на почте раз в неделю!</p>
                        <form data-members-form="subscribe">
                            <div class="form-group">
                                <input class="subscribe-email" data-members-email placeholder="youremail@example.com"
                                    autocomplete="false" />
                                <button class="button primary" type="submit">
                                    <span class="button-content">Подписаться</span>
                                    <span class="button-loader">{{> "icons/loader"}}</span>
                                </button>
                            </div>
                            <div class="message-success">
                                <strong>Отлично!</strong> Вы успешно подписаны на наш дайджест!
                            </div>
                            <div class="message-error">
                                Пожалуйста, укажите верный адрес почты.
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {{/if}}

    --}}

    {{!-- jQuery, required for fitvids --}}
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    {{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}
    <script src="{{asset "built/casper.js"}}"></script>
    <script>
        $(document).ready(function(){
            //<editor-fold desc="Menu">

            function closeMenu() {
                $('#menu-btn.open, .nav-dropdown-container.open').removeClass('open');
            }

            $('#menu-btn, .nav-dropdown-container').click(function() {
                $('.nav-dropdown-container.open').not(this).removeClass('open');
                $(this).toggleClass('open');
            });

            $(window).on('scroll', function() {
                closeMenu();
            });

            //</editor-fold>

            //<editor-fold desc="Search">

            function hideSearchOverlay() {
                $('html').removeClass('searching');
            }

            $('.search-open-btn').on('click', function(e) {
                // open search overlay
                e.preventDefault();
                $('html').addClass('searching');
                $('.gsc-search-box input[name="search"]').focus();

                // close menu after search overlay fade in animation(see #search-overlay transition duration)
                setTimeout(function() { closeMenu() }, 300);
            });

            $('#search-hide-btn').on('click', hideSearchOverlay);

            $(document).on('keyup', function(e) {
                if (e.keyCode === 27 && $('html').hasClass('searching')) {
                    hideSearchOverlay();
                }
            });

            //</editor-fold>
        });
    </script>

    {{!-- Scripts for Members subscription --}}
    <script>
        // Parse the URL parameter
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Give the parameter a variable name
        var action = getParameterByName('action');

        $(document).ready(function () {
            if (action == 'subscribe') {
                $('body').addClass("subscribe-success");
            }

            $('.subscribe-success-message .subscribe-close').click(function () {
                $('.subscribe-success-message').addClass('close');
            });

            // Reset form on opening subscrion overlay
            $('.subscribe-button').click(function() {
                $('.subscribe-overlay form').removeClass();
                $('.subscribe-email').val('');
            });
        });
    </script>

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
